<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MSSQLConnectionString" connectionString="Server=tcp:flightproject.database.windows.net,1433;Initial Catalog=FlightProject;Persist Security Info=False;User ID=Hebas;Password=M1020304050s;MultipleActiveResultsSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>